.editor {
  flex: 3 1 auto;
  background-color: rgba(0, 204, 255, 0.199);
  height: 90vh;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-editor {
  margin: 1rem;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  overflow-y: scroll;
}

.panel-buttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}
